*.sublime-project
*.sublime-workspace

.idea/
src/builder/builder.iml

src/.gradle/
src/.idea/
src/bin/
src/src.iml

# Builder
src/builder/bower_components/
src/builder/node_modules/
src/builder/doc
src/builder/app/**/*.js
src/builder/app/**/*.css
src/builder/dist