*.sublime-project
*.sublime-workspace

.idea/
src/builder/builder.iml

src/.gradle/
src/.idea/
src/bin/
src/src.iml

# Builder
src/builder/app/bower_components/
src/builder/node_modules/
src/builder/app/elements/
src/builder/doc
src/builder/app/lib/base.js