# Builder
src/builder/bower_components/
src/builder/node_modules/
src/builder/doc
src/builder/app/**/*.js
src/builder/app/**/*.css
src/builder/dist

# Core
src/core/.idea/tasks.xml
src/core/.idea/uiDesigner.xml
src/core/.idea/workspace.xml
src/core/.idea/dictionaries
src/core/out/

# Misc
*.sublime-project
*.sublime-workspace