.ingredient {
  background-color: #fafafa;
  cursor: pointer;
  text-align: left;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none; }
  .ingredient:hover {
    background-color: #ededed; }
  .ingredient .ingtype {
    padding: 0 10px;
    font-weight: bold; }
  .ingredient .ingstock {
    padding: 0 10px;
    font-weight: bold;
    color: #3B616E; }

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none; }
