:host {
	#test {
		background-color: #f4f4f4;
		border: 1px solid #ccc;
		width: 7em;
	}
	widget-units {
		margin-left: -50px;
			  -moz-user-select: none;
	  -webkit-user-select: none;
	  -ms-user-select: none;
	}
}