:host {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  align-items: center;

  .container {
    width: 400px;
    height: 500px;
    background-color: #dcdcdc;
    
    .item {
      border: 1px solid #aaa;
      .idx {
        width: 70px;
        font-weight: bold;
        text-align: center;
      }
      .value {}
    }
  }
}